@import "./utils/normalize";
@import "./base/base-styles.scss";
@import "./utils/variables";
@import "./components/header";
@import "./components/hero";
@import "./components/modal-window";
@import "./components/our-benefits";
@import "./components/our-activity";
@import "./components/our-team";
@import "./components/regular-clients";
@import "./components/footer";
@import "./components/filter";
@import "./components/projects";
